
:root {
    --backgraund:#1E252B;
    --header-color: #FFFFFF  ;
    --main-text: rgba(255, 255, 255, 0.90) ;
    --main-adress: rgb(255, 255, 255, 0.55);
    --main-background: ;
    --footer-text: ;
    --color-button:#FF6E30;
}


.all-body{
background-color: var(--backgraund);
}

ul{
    list-style: none;
}

*{
    box-sizing: border-box;
}

a,button{
    text-decoration:none ;
}

body{

 font-family: "Roboto" , sans-serif ;
}

h1,h2,h3,h4,h5,p,ul,li,form,img,input,button,label{
margin: 0;
padding: 0;
}

.container{
    width: 1210px;
margin: 0 auto;
padding: 0 105px ;
border:0px solid;

   }




.header-img{
    margin-right: 19px;
}
.head{
    display: flex;
    color: var(--main-text);
font-family: Poppins;
font-size: 22px;
font-weight: 600;
padding-right: 90px;
}
.header-line{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
color: var(--main-adress);
display: flex;
    align-items: center;
box-sizing: border-box;
justify-content: space-between;
}
.head-gogo{
    width: 18px;
height: 18.334px;
}
   .header-line {
    display: flex;
margin-right: 
    41px;
    align-items: center;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 68px;
}
.head-line{
    display: flex;   
}
.head-button{
    display: flex;
    color: var(--main-adress);
}
.head-btn:nth-child(2){
      margin-left: 41px;
}
.header-link{
    color: var(--main-adress);
}
.header-btn{
    background-color: var(--backgraund);
    border: var(--backgraund); 
}
.header-btn:hover{
    padding-left:28px ;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px ;
border-radius: 8px;
background:var(--color-button);
}
.head-go{
    color: var(--main-adress);
}
.header-span{
    color: var(--color-button);
    margin-left: 0px;
}





.mn-wrap{
    background-image: url(../img/Illustration.png);
background-repeat: no-repeat;
background-position: right;
}

.mn-head{
       width: 480px;
    height: 142.6px;
    color: var(--main-text);
    line-height: 140%; 
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
} 


.mn-text{
    width: 400px;
    height: 61.114px;
    color: var(--main-adress);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
margin-top: 30px;
}


.mn-form{
margin-top: 61px;
    width: 445px;
    height:64px ;
border-radius: 15px;
Border: 1.5px;
background-color: #283036;
color: rgba(255, 255, 255, 0.38);
font-family: Poppins;
font-size: 14px;
font-weight: 400;
}


.mn-btn{
    margin-left: 0px;
}

.mn-imag{
    justify-content: center;
    align-items: center;
}
.mn-span{
    align-items: center;
    justify-content: center;
    margin-left: 111px;
    padding-left: 36px;
    padding-right: 36px;
padding-top: 15px;
padding-bottom: 15px;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-weight: 600;
    background-color:var(--color-button) ;
    border-radius:8px;
}

.mn-wrap {
    padding-top: 42px;
}

.maine-imag{
width: 17px;
height: 17px;
}



.main-images{

    padding-top: 128px;
    padding-right: 31px;
}


.mn-link{
    padding-right: 31px;
}



.popular-link{
    display: flex;
}



.popular-link{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .popular-images { grid-area: 1 / 1 / 3 / 2; }
    .popular-iteam { grid-area: 1 / 2 / 2 / 3; }
    
    .popular-text { grid-area: 2 / 2 / 3 / 3; }
        .pop-text { grid-area: 3 / 1 / 4 / 3; }
        .popular-imag { grid-area: 4 / 1 / 5 / 2; }
        .popular-btn { grid-area: 4 / 2 / 5 / 3; }



        .pop-link {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            

            .pop-link:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
            .pop-link:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
            .pop-link:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
            .pop-link:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
            .pop-link:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
         .pop-link:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }
         
         
.popular-iteam{
    width: 240px;
    padding-left: 0px;
height: 20px;
}   

.popular-images{
padding-bottom: 31px;
}


.popular-iteams{
    color: var(--main-text);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;

    padding-top: 200px;
    padding-bottom: 25px;
    padding-left: 120px;
}

.pop-text{
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.78);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 30px; 
}

.popular-btn{
 border: var(--backgraund);
    background-color: var(--backgraund);
    color: var(--main-adress);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}
.popular-link{
        padding: 0 25px;
    padding-bottom: 120px;
    padding-right: 25px;

}

.popular-top-text{
    color:var(--main-adress) ;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px; 
width: 500px;
height: 60px;
margin: 0 auto;
padding-left:  120px;
}

.pop-link{
    padding-top: 90px;
}

.popular-iteam{
    color: rgba(255, 255, 255, 0.78);
font-family: Poppins;
font-size: 24px;
font-weight: 500;

}



.popular-text{
color: rgba(255, 165, 55, 0.55);
font-family: Poppins;
font-size: 18px;
font-weight: 400;
}

.popular-link:hover{
    height: 270px;
  width: 395px;
    padding: 0 25px;
border-radius: 15px;
border: 2px solid rgba(255, 255, 255, 0.80);
background: rgba(40, 48, 54, 0.60);
border: 2px;
border-radius: 8px;
  padding-top: 53px;
  padding-bottom: 30px;
}

